.Side {
  width: 250px;
  background: #fff;
  border-right: 2px #ff9100 solid;

  .sub-menu {
    font-size: 1rem;
    line-height: 1rem;
    height: calc(1rem + 40px);
    overflow: hidden;
    border-bottom: 1px #e3e3e3 solid;
    transition: all .4s;

    &>p {
      padding: 20px;
      cursor: pointer;
      transition: all .4s;

      &:hover {
        background-color: #f1f1f1;
      }
    }

    &.active {
      height: auto;
      border-bottom: none;

      &>p {
        background-color: #f1f1f1;
      }
    }
  }

  li {
    padding: 20px;
    padding-left: 30px;
    border-bottom: 1px #e3e3e3 solid;
    cursor: move;
    transition: all .4s;

    &.draging {
      border: 2px #09c dashed;
    }
  }
}