$light: #fff;
$primary: #f1f1f1;
$dark-light: #dcdcdc;
$light-gray: #c3c3c3;
$gray: #636363;
$dark-gray: #333;
$dark: #1d1d1d;

* {
    color: $dark-gray;
}

p {
    color: $gray;
}

strong, b, h3, h4 {
    color: $dark-gray;
}

h1, h2 {
    color: $dark;
}

.bg-light {
    background-color: $light;
}

.bg-primary {
    background-color: $primary;
}

.bg-dark-light {
    background-color: $dark-light;
}

.bg-light-gray {
    background-color: $light-gray;
}

.text-light-gray {
    color: $light-gray;
}

.text-gray {
    color: $gray;
}

.text-dark-gray {
    color: $dark-gray;
}

.text-dark {
    color: $dark;
}
